[submodule "blog/themes/hugo-notice"]
	path = blog/themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
[submodule "blog/themes/hugo-shortcode-roneo-collection"]
	path = blog/themes/hugo-shortcode-roneo-collection
	url = https://gitlab.com/Roneo/hugo-shortcode-roneo-collection.git
